@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
}


/********** Text **********/

body {
  font-family: 'IBM Plex Sans', sans-serif;
  color: #191826;
}

h1 {
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.45px;
  margin-top: 64px;
  margin-bottom: 20px;
}

p {
  font-size: 1rem;
  line-height: 1.7rem;
}


/* layout */

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  min-width: 375px;
  max-width: 1110px;
  margin: 0 auto;
  position: relative;
}

header, footer {
  box-sizing: border-box;
  padding: 40px 24px;
  margin-bottom: 28px;
}

main {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: repeat(16, 64px);
  justify-items: center;
}


/* background */

.background {
  width: 100%;
  overflow: hidden;
  background-color: #191826;
  border-radius: 12px;
  grid-column: 1 / -1;
  grid-row: 3 / span 9;
  z-index: 1;
}

.background__image {
  display: block;
  margin: 0 auto;
}


/* illustration */

.illustration {
  display: block;
  grid-column: 2 / 3;
  grid-row: 1 / span 1;
  z-index: 2;
}

.illustration__image {
  width: 100%;
  max-width: 240px;
}


/* card */

.card {
  box-sizing: border-box;
  width: 100%;
  padding: 36px;
  background-color: #FA7453;
  border-radius: 12px;
  grid-column: 1 / -1;
  grid-row: 9 / span 8;
  z-index: 3;
}

.card__content {
  max-width: 368px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;

}

.card__heading {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  color: #FFFFFF;
}

.card__paragraph {
  font-size: 18px;
  color: #FFFFFF;
}

.card__paragraph > b {
  font-size: 4rem;
  font-weight: bold;
  margin-right: 1rem;
  vertical-align: middle;
}

.card__button {
  display: block;
  width: 100%;
  padding: 1rem;
  border-radius: 12px;
  border: none;
  font-size: 1.125rem;
  font-weight: bold;
}

.card__button:nth-child(2) {
  margin-top: 1rem;
}

.card__button--dark {
  background-color: #191826;
  color: #FFFFFF;
}

.card__button--light {
  background-color: #FCFAF9;
}

.card__button > img {
  margin-right: 0.5rem;
  vertical-align: middle;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 32px;
  margin-top: 64px;
}

footer > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  row-gap: 64px;
  column-gap: 20px;
  width: 100%;
}

.copyright {
  max-width: 366px;
}

.social-media {
  display: flex;
  column-gap: 20px;
}

@media (min-width: 680px) {
  .wrapper {
    padding: 60px 40px;
    max-width: 100%;
  }

  main {
    position: relative;
    display: block;
    min-height: 834px;
  }

  .background {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    margin: auto;
    min-height: 600px;
    max-width: 100%;
  }

  .illustration {
    position: absolute;
    left: 10%;
  }

  .card {
    position: absolute;
    height: 546px;
    max-width: 400px;
    right: 10%;
    bottom: 0;
  }

  footer {
    margin-top: 87px;
  }
}

@media (min-width: 748px) {
  .wrapper {
    background-image: url('./assets/bg-pattern-1.svg');
    background-repeat: no-repeat;
    background-position: top -30px right -40px;
    background-size: 268px 400px;
    padding: 60px 40px;
  }

  header {
    margin-right: 180px;
    margin-bottom: 70px;
  }

  h1 {
    font-size: 64px;
    line-height: 64px;
    letter-spacing: -0.73px;
    margin-top: 95px;
    margin-bottom: 28px;
  }
}

@media (min-width: 900px) {
  footer img {
    align-self: self-start;
  }

  footer > div {
    max-width: 65%;
  }
}

@media (min-width: 1200px) {
  .wrapper {
    background-size: 312px 468px;
  }

  header {
    max-width: 1015px;
    margin-right: 0;
  }

  h1 {
    font-size: 88px;
    line-height: 88px;
    letter-spacing: -1px;
    margin-top: 127px;
    margin-bottom: 40px;
  }
}