@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
}


/********** Text **********/

:root {
  font-size: 16px;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
  color: #191826;
}

h1 {
  font-size: 2.5rem;
  line-height: 3rem;
  letter-spacing: -0.03rem;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
}

p {
  font-size: 1rem;
  line-height: 1.7rem;
}


/********** Background **********/

body {
  background-image: url('./assets/bg-main-mobile.png');
  background-repeat: no-repeat;
  background-position: top -250px right -230px;
}


/* layout */

.wrapper {
  min-width: 375px;
  position: relative;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(32, 32px);
}

header, footer {
  margin: 3rem 1.5rem;
}


/* background */

.background {
  background-color: #191826;
  grid-column: 1 / span 4;
  grid-row: 4 / span 16;
  z-index: 1;
}

.background__image {
  display: block;
  width: 80%;
  margin: 0 auto;
}

/* illustration */

.illustration {
  display: block;
  grid-column: 2 / 4;
  z-index: 2;
}

.illustration__image {
  max-width: 100%;
}


/* card */

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2.25rem;
  background-color: #FA7453;
  border-radius: 12px;
  grid-column: 1 / span 4;
  grid-row: 17 / span 16;
  z-index: 3;
}

.card__heading {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  color: #FFFFFF;
}

.card__paragraph {
  font-size: 1.125rem;
  color: #FFFFFF;
}

.card__paragraph > b {
  font-size: 4rem;
  font-weight: bold;
  margin-right: 1rem;
  vertical-align: middle;
}

.card__button {
  display: block;
  width: 100%;
  padding: 1rem;
  border-radius: 12px;
  border: none;
  font-size: 1.125rem;
  font-weight: bold;
}

.card__button:nth-child(2) {
  margin-top: 1rem;
}

.card__button--dark {
  background-color: #191826;
  color: #FFFFFF;
}

.card__button--light {
  background-color: #FCFAF9;
  
}

.card__button > img {
  margin-right: 0.5rem;
  vertical-align: middle;
}